.app-container {
  display: grid;
  grid-template-columns: 0fr 3fr 0fr; /* Larghezza dinamica delle sezioni laterali */
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "left center-top right"
    "left center-bottom right";
  height: 100vh;
  gap: 20px;
  transition: grid-template-columns 0.3s ease-in-out;
}

/* Mostra la parte sinistra quando attiva */
.app-container.show-left {
  grid-template-columns: 1fr 3fr 0fr;
}

/* Mostra la parte destra quando attiva */
.app-container.show-right {
  grid-template-columns: 1fr 3fr 1fr;
}

.left-section, .right-section {
  background-color: #636363;
  padding: 20px;
  border-radius: 8px;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.show-left .left-section, .show-right .right-section {
  opacity: 1;
  transform: translateX(0);
}

.center-top-section {
  grid-area: center-top;
  background-color: #636363;
  padding: 200px;
  border-radius: 8px;
}

.center-bottom-section {
  grid-area: center-bottom;
  background-color: #636363;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  margin-top: 0;
}

.search-results p {
  margin: 5px 0;
  cursor: pointer;
  padding: 8px;
  background-color: #636363;
  border-radius: 4px;
}

.search-results p:hover {
  background-color: #636363;
}
